Source: gcc-on-diet
Section: admin
Priority: optional
Maintainer: Guillem Jover <guillem@hadrons.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.4.1
Homepage: https://www.hadrons.org/software/debian/gcc-on-diet/
Vcs-Git: https://git.hadrons.org/git/debian/gcc-on-diet.git
Vcs-Browser: https://git.hadrons.org/cgit/debian/gcc-on-diet.git

Package: gcc-on-diet
Architecture: all
Depends:
 ${misc:Depends},
 binutils-multiarch | binutils,
 gcc-5 | gcc-6 | gcc-7 | gcc-8 | gcc-9 | gcc-10 | gcc-11,
Description: Strip gcc executables on install or upgrade
 Since gcc-5 the gcc executables are not stripped anymore, which use a
 considerable amount of disk space, this package makes sure that those
 executables are always stripped after installation.
