Source: gcc-on-diet
Section: admin
Priority: optional
Maintainer: Guillem Jover <guillem@hadrons.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://www.hadrons.org/software/debian/gcc-on-diet/
Vcs-Git: git://git.hadrons.org/git/debian/gcc-on-diet.git
Vcs-Browser: https://git.hadrons.org/cgit/debian/gcc-on-diet.git

Package: gcc-5-on-diet
Architecture: all
Depends: ${misc:Depends}, binutils-multiarch
Description: Strip gcc executables on install or upgrade
 Since gcc-5, the gcc exetuables are not stripped anymore, which use a
 considerable amount of disk space, this package makes sure that those
 executables are always stripped after installation.
